<div class="row" [hidden]="!active" class="pane">
  <form class="col-6 mx-auto">
    <div class="row input-box justify-content-center">
      <label for="totalCost" class="col-12 text-left text-truncate">Zu Zahlen</label>
      <div class="col-12">
        <input readonly type="text" class="input" id="totalCost" name="totalCost" [value]="totalCost">
      </div>
      <div id="border-bottom" [ngStyle]="{'width': ((totalCost.length)* 2) + 'vw'}"></div>
    </div>

    <div class="row input-box justify-content-center">
      <label for="cash" class="col-12 text-left text-truncate">Gegeben</label>
      <div class="col-12">
        <input readonly type="text" class="input" id="cash" name="cash" [value]="cash">
      </div>
    </div>
  </form>
</div>