.input-box {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

input {
  font-weight: bold;
  width: 100%;
  font-size: 2rem;
  border: none;
  box-sizing: border-box;
  text-align: center;
  outline: 0;
}

#border-bottom {
  border-bottom: #40bbc8 6px double;
}