<div class="align-items-center  d-flex h-100 mx-auto flex-column">
  <div class="col-12 mx-0 px-0 text-center">
    <header
      class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 border-bottom box-shadow text-white bg-dark-gray">
      <div class="mr-md-auto">
        <button class="btn text-white shadow-none mx-4 " type="button">
          <fa-icon [icon]="['fas', 'lock']" size="2x"></fa-icon>
        </button>
        <button class="btn text-white shadow-none mx-4 " type="button">
          <fa-icon [icon]="['fas', 'th']" size="2x"></fa-icon>
        </button>
        <button class="btn text-white shadow-none mx-4 " type="button">
          <fa-icon [icon]="['fas', 'sort-amount-down']" transform="flip-h" size="2x"></fa-icon>
        </button>
      </div>
      <nav class="my-2 my-md-0 mr-md-3 mx-4 ">
        <a class="p-2 text-white" href="#">
          <fa-icon [icon]="['fas', 'plus']" size="2x"></fa-icon>
        </a>
      </nav>
    </header>

    <main role="main" class="text-center">
      <div class="row bg-gray p-3 m-0">
        <div class="col-12">
          <app-sale></app-sale>
        </div>
      </div>

      <div class="row bg-dark-gray p-3 m-0">
        <div class="col-12 text-white">
          <app-pay-cash></app-pay-cash>
        </div>
      </div>
    </main>

    <!--     <footer class="mt-auto">
      <div>
        <p>Geldstueckelung für <a href="#">* Firma</a>, von
          <a href="mailto:m.bahadorpour@gmail.com">M.Bahadorpour</a>.
        </p>
      </div>
    </footer> -->
  </div>
</div>