<div class="d-flex h-100 p-2 mx-auto flex-column">
  <header
    class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom box-shadow text-white">
    <div class="mr-md-auto">
      <button class="btn text-white shadow-none mx-4 " type="button">
        <fa-icon [icon]="['fas', 'lock']" size="2x"></fa-icon>
      </button>
      <button class="btn text-white shadow-none mx-4 " type="button">
        <fa-icon [icon]="['fas', 'th']" size="2x"></fa-icon>
      </button>
      <button class="btn text-white shadow-none mx-4 " type="button">
        <fa-icon [icon]="['fas', 'sort-amount-down']" transform="flip-h" size="2x"></fa-icon>
      </button>
    </div>
    <nav class="my-2 my-md-0 mr-md-3 mx-4 ">
      <a class="p-2 text-white" href="#">
        <fa-icon [icon]="['fas', 'plus']" size="2x"></fa-icon>
      </a>
    </nav>
  </header>

  <main role="main" class="p-3 mx-auto text-center">
    <app-sale></app-sale>
    <app-pay-cash></app-pay-cash>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Geldstueckelung für <a href="#">* Firma</a>, von
        <a href="mailto:m.bahadorpour@gmail.com">M.Bahadorpour</a>.
      </p>
    </div>
  </footer>
</div>