/* Base structure */

html, body {
  height: 100%;
}

/* Globals */

:root {
  --gray: #647272;
  --light-gray: #e5e5e7;
  --dark-gray: #3f4f4f;
}

.bg-gray {
  background-color: var(--gray);
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.bg-dark-gray {
  background-color: var(--dark-gray);
}

.text-light-gray {
  color: var(--light-gray);
}

.text-dark-gray {
  color: var(--dark-gray);
}