<nav class="navbar navbar-expand-sm navbar-light justify-item-center justify-content-center p-0">
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-dark"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <form class="form-inline">
      <button type="button" class="btn shadow-none btn-checkout" *ngFor=" let button of checkoutButtons"
        [routerLink]="button.route" [routerLinkActive]="['active']" [id]="button.id">{{button.label}}</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>