/*
  Theme: keyboard grayTheme
*/

#root .simple-keyboard.grayTheme+.simple-keyboard-preview {
  background: rgb(63, 79, 79);
}

.simple-keyboard.grayTheme .hg-button {
  height: 100%;
  width: 100%;
  border-color: #19bcc3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  color: #fff;
  font-size: 170%;
}

.simple-keyboard.grayTheme .hg-button:active {
  background-color: #eee;
  color: var(--dark-gray);
}

.hg-theme-default {
  background-color: var(--dark-gray);
}